<!DOCTYPE html>
<html lang="en">
    <%- include('header'); -%>

    <div id="app" :class="{'logged-in': user}">
        <%- include('components/navbar'); -%>
        <div v-if="loadingScreen" class="loading-screen">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <p>Loading...</p>
        </div>

        <div v-else>
            <!-- ALerts -->
            <div v-if="errorMessage">
                <%- include('components/error-popup'); -%>
            </div>
            <div v-if="successMessage">
                <%- include('components/success-popup'); -%>
            </div>

            <!-- Login page -->
            <div v-if="!user"><%- include('stages/login'); -%></div>

            <!-- Main page -->
            <div v-else>
                <div v-if="currentState == 'CREATE-QUIZ-1' || currentState == 'CREATE-QUIZ-2'"><%- include('stages/create-quiz'); -%></div>
                <div v-if="currentState == 'VIEW-QUIZ'"><%- include('stages/view-quiz'); -%></div>
                <div v-if="currentState == 'MENU'"><%- include('stages/menu'); -%></div>
            </div>
        </div>
    </div>
    <%- include('footer'); -%>
</html>
